


    <div class="jumbotron">
        <h1>PA03: Fantasy Basketball Team </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        Draft top NBA players to make a fantasy basketball team for competition with other teams!
        Search by player name to find your pick!
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/players/byfirstName">
            Show Players by firstName: 
              <input type="text" name="firstName" 
                     placeholder="e.g. Steven">
            <input type="submit">
        </form>
        <br>
        <div class="row">
<div class="col bg-primary">
        <img src="images/basketball.jpg" width="100%" class="p-1 m-2 border border-danger">
    </div>
    <div class="col bg-primary">
        <img src="images/arena.jpg" width="100%" class="p-1 m-2 border border-danger">
</div>
        <br>
        <a href="/team/show">Show Team</a>
    <% } %>
